body {
  background-color: #f7f7eb;
  color: #363537;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 10px;
}

.header-logo {
  margin-bottom: 30px;
}

.header-title {
  margin-bottom: 30px;
}

input {
  background-color: #f7f7eb;
  color: #363537;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  width: 580px;
  height: 90px;
  font-size: 25px;
}

.label-input {
  margin-bottom: 40px;
  color: #dddcdc;
  font-size: 20px;
}

hr {
  margin-bottom: 10px;
  margin-top: 0px;
}

.botao-habilitado {
  color: #ffffff;
  background-color: #00c8b3;
  width: 580px;
  height: 90px;
  border-radius: 50px;
  font-size: 35px;
  font-weight: 400;
  border-style: none;
}

.botao-desabilitado {
  color: #dddcdc;
  background-color: #f6f6f6;
  width: 580px;
  height: 90px;
  border-radius: 50px;
  font-size: 35px;
  font-weight: 400;
  border-style: none;
}

.lds-ring {
  width: 80px;
  height: 80px;
}
.lds-ring div {
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
